body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.experiment-container {
  background-color: #d2f4ef;
  padding: 20px;
  border-radius: 20px;
  max-width: 420px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #ff9800;
}
.section {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #e08e0b;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #e08e0b;
  color: white;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.question-input,
.option-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.option button {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

.option button.selected {
  background-color: #e08e0b;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.save-btn {
  align-self: flex-start; 
   background-color: #e08e0b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
/* .save-btn {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #e08e0b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
} */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.flask-icon {
  width: 70px;
  height: 70px;
 
}