.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fffdfd;
    gap: 50px;
    
  }


  
  
  .form {
    /* margin-bottom:10px; */
    width: 300px;
    padding: 30px;
    border-radius: 10px; /* تعديل شكل الحواف */
    background-color:#c6e7fd ; /* تعديل لون الخلفية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل */

  }
  
  .title {
    margin-bottom: 5px;
    color: #FF9800;
    padding: 5px;
    font-size: 20;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* يمكنك تعديل هذه القيمة */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #333;
  }
  .button {
     margin-left: 190px !important;
     margin-bottom: 13px;
    width: 50%;
    padding: 12px ; /* زيادة الحشو الرأسي والأفقي */
    background-color: #FF9800; /* لون الخلفية البرتقالي */
    color: #fff; /* لون النص الأبيض */
    border: none;
    border-radius: 8px; 
   
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px; /* حجم الخط */
    font-weight: 500; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #FFB74D;
  }
  .login-text {
    text-align: center;
    margin-top: 5px; /* تقليل المسافة */
    font-size: 14px;
  }
  
  .login-text a {
    color:#007bff ;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-text a:hover {
    color: #0056b3; /* لون أزرق داكن عند التحويم */
    text-decoration: underline;
    cursor: pointer;
  }