*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 8px 20px !important ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfafa;
    height: 70px; /* ✅ تقليل الارتفاع */
    width: 100vw;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
    /* padding-top: 8px; */
}
.navbar{
    width: 70%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo {
    max-width: 80px;
    height:auto;
    object-fit: contain;
    display: block;
    padding: 5px 0;
}
nav{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-buttons button{
width: 80px;
height: 40px;
font-size: 20px;
font-family: 'Segoe';
cursor: pointer;
color: #3e1a69;
background-color: white;
border-radius:15px  ;
box-shadow: 0 4px 8px rgba(83, 74, 74, 0.3);
}

nav a {
    width: 80px;
    font-size: 30px;
    font-family: 'Segoe';
    display: inline-block;
    /* gap: 20px; */
}


.image {
    flex: 0.4;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.logout{
    color: #3e1a69;
    background-color: white;
    border-radius:15px  ;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(83, 74, 74, 0.3);
    margin-right: 10px;
}